################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/E_Okul.Web/DesignTimeBuild/.dtbcache.v2
/.vs/E_Okul.Web/FileContentIndex/357f5de3-383a-430c-9571-ffe634232413.vsidx
